<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_URL</key>
	<string>https://aji93f9i0k.execute-api.us-east-1.amazonaws.com/prod</string>
	<key>GIPHY_API_KEY</key>
	<string>GlVGYHkr3WSBnllca54iNt0yFbjz7L65</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Intok</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.75949298562-g1bf5a941mad8hmha4css3ci7fef5q5o</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>GIDClientID</key>
	<string>75949298562-g1bf5a941mad8hmha4css3ci7fef5q5o.apps.googleusercontent.com</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSCameraUsageDescription</key>
	<string>Intok needs camera access to take photos for sharing in chats</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Intok needs microphone access for voice messages</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Intok needs photo library access to share images in chats</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>WS_URL</key>
	<string>wss://ksupcb7ucf.execute-api.us-east-1.amazonaws.com/prod</string>
</dict>
</plist>
